version: '3'
services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: myjenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker
    privileged: true
    user: root

volumes:
  jenkins_home: